<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="BlazorApp.styles.css"/>
    <link rel="icon" type="image/png" href="/images/logo.png"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nerd-fonts/2.1.0/css/hack-nerd-font.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <link href="_content/DevExpress.Blazor.Themes/bootstrap-external.bs4.min.css" rel="stylesheet" asp-append-version="true" />

</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>