<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>Code Cooks</h4>
            <p>Debug Your Dinner</p>
        </div>
        <div class="footer-section">
            <h4>Contact</h4>
            <p>Email: support@codecooks.com</p>
            <p>Phone: 123-456-7890</p>
        </div>
        <div class="footer-section">
            <h4>Follow Us</h4>
            <a href="https://twitter.com/" target="_blank">Twitter</a>
            <a href="https://facebook.com/" target="_blank">Facebook</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Code Cooks. All rights reserved.</p>
    </div>
</footer>
