.navbar-toggler[b-g8o6n169oq] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: #FEFAE0;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-g8o6n169oq] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-g8o6n169oq] {
    height: 3.5rem;
    background-color: #A6B37D;
}

.navbar-brand[b-g8o6n169oq] {
    font-size: 1.1rem;
    color: #FEFAE0;
}

.fi[b-g8o6n169oq] {
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
    top: -1rem;
    background-size: cover;
}

.fi-fi-sr-home[b-g8o6n169oq] {
    background-image: url("images/home.svg");
}

.fi-fi-sr-square-plus[b-g8o6n169oq] {
    background-image: url("images/square-plus.svg");
}

.fi-fi-sr-menu-burger[b-g8o6n169oq] {
    background-image: url("images/menu-burger.svg");
}

.fi-fi-sr-journal-alt[b-g8o6n169oq] {
    background-image: url("images/journal-alt.svg");
}

.nav-item[b-g8o6n169oq] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-g8o6n169oq] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-g8o6n169oq] {
        padding-bottom: 1rem;
    }

    .nav-item[b-g8o6n169oq]  .nav-link {
        color: #FEFAE0;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-g8o6n169oq]  a.active {
    background-color: #B99470;
    color: #FEFAE0;
}

.nav-item[b-g8o6n169oq]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: #FEFAE0;
}

.nav-scrollable[b-g8o6n169oq] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-g8o6n169oq] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-g8o6n169oq] {
        display: none;
    }

    .nav-scrollable[b-g8o6n169oq] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
