<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="/images/Logo.png" width="30" height="30" alt="">
        <a class="navbar-brand" href="">Code Cooks</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fi fi-sr-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="fi fi-sr-square-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="fi fi-sr-menu-burger" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="submit-recipe">
                <span class="fi fi-sr-journal-alt" aria-hidden="true"></span> Submit Recipe
            </NavLink>
        </div>
    </nav>
</div>