@page "/"
@using BlazorApp.Models
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<a href="/">
    <!-- Code Cooks Logo -->
    <img src="/images/Logo.png" alt="Code Cooks Logo" class="center-logo" />
</a>
<h1 align="center">Code Cooks</h1>

<br />
<h2 align="center">Debug Your Dinner</h2>

<!-- RecipeGallery component, which handles displaying recipes and search functionality -->
<RecipeGallery />